In [12]:
import streamlit as st
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [2]:
def get_asset_tickers():
    return {
        "Apple Inc. (AAPL)": "AAPL",
        "Tesla Inc. (TSLA)": "TSLA",
        "USD/UAH (Курс долара до гривні)": "USDUAH=X",
        "Gold (Золото)": "GC=F",
        "Cocoa Futures (Ф'ючерси на какао)": "CC=F",
        "Coffee Futures (Ф'ючерси на каву)": "KC=F",
        "Bitcoin to USD (Біткоїн за долари)": "BTC-USD",
        "Ethereum to USD (Ефір за долари)": "ETH-USD",
        "S&P 500 Index (SP500)": "^GSPC",
        "Real Estate Investment Trust (VNQ)": "VNQ"
    }

In [5]:
def get_stock_data(tickers, retries=3, delay=5):
    for i in range(retries):
        try:
            data = yf.download(list(tickers.values()), period="360d", interval="1d", auto_adjust=True)
            if not data.empty:
                return data["Close"].dropna()
        except Exception as e:
            time.sleep(delay)
    return None

data = get_stock_data(get_asset_tickers())

[*********************100%***********************]  10 of 10 completed

In [6]:
data

Ticker,AAPL,BTC-USD,CC=F,ETH-USD,GC=F,KC=F,TSLA,USDUAH=X,VNQ,^GSPC
Date,,,,,,,,,,
2024-03-20,177.830307,67913.671875,8324.0,3513.393066,2157.899902,182.399994,175.660004,38.880875,82.489639,5224.620117
2024-03-21,170.564606,65491.390625,8559.0,3492.991211,2182.399902,185.699997,172.820007,38.872849,83.085999,5241.529785
2024-03-22,171.470337,63778.761719,8939.0,3333.687988,2158.100098,184.850006,170.830002,38.613033,82.040237,5234.180176
2024-03-25,170.047073,69958.812500,9649.0,3590.883789,2174.800049,185.649994,172.630005,38.566799,81.535797,5218.189941
2024-03-26,168.912430,69987.835938,9622.0,3587.504883,2175.600098,188.050003,177.669998,39.005493,81.205971,5203.580078
...,...,...,...,...,...,...,...,...,...,...
2025-03-07,239.070007,86742.671875,8141.0,2138.987549,2904.699951,390.200012,262.670013,40.960297,92.419998,5770.200195
2025-03-10,227.479996,78532.000000,8279.0,1861.151367,2891.000000,389.350006,222.149994,40.989616,91.529999,5614.560059
2025-03-11,220.839996,82862.210938,8151.0,1919.844971,2912.899902,399.450012,230.580002,41.062454,90.459999,5572.069824
2025-03-12,216.979996,83722.359375,8204.0,1908.982666,2939.100098,392.200012,248.089996,41.173794,90.180000,5599.299805
2025-03-13,209.679993,81066.703125,8031.0,1862.969604,2984.300049,390.600006,240.679993,41.301014,88.400002,5521.520020

In [14]:
def plot_price_dynamics(df):
    st.subheader("Динаміка цін активів")
    fig, axes = plt.subplots(4, 3, figsize=(15, 12))
    axes = axes.flatten()
    
    date_index = df.index
    midpoint = len(date_index) // 2  # Halfway point to plot only first half of data
    
    for i, asset in enumerate(df.columns):
        if i >= 12:  # Limit to 12 charts
            break
        
        axes[i].plot(date_index, df[asset], color='gray', alpha=0.3)  # Full range for context
        axes[i].plot(date_index[:midpoint], df[asset].iloc[:midpoint], color='blue')  # First half of data
        axes[i].set_title(asset)
        axes[i].tick_params(axis='x', rotation=45)
    
    plt.tight_layout()
    st.pyplot(fig)
plot_price_dynamics(data)

In [15]:
plot_price_dynamics(data)

2025-03-14 17:13:57.763 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-14 17:13:57.766 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-14 17:13:58.028 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-14 17:13:58.983 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-14 17:13:58.983 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.